{%extends 'users/bash.html'%}

{%block head%}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>天天生鲜-登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
    $(function(){
        // 登陆界面用户验证
        $('.name_input').change(function(){
        $.get('/users/user_name/',{'name':$('.name_input').val()},function(data){
            if(data.result == '0')
            {

              $('.user_error').css({'display':'block'})

            }
            else
            {
                $('.user_error').css({'display':'none'})
            }

        });

    });


            // 密码验证
         $('.pass_input').change(function(){
        $.get('/users/user_passwd/',{'passwd':$('.pass_input').val(),'name':$('.name_input').val()},function(data){
            if(data.result == '0')
            {

              $('.pwd_error').css({'display':'block'})

            }
            else
            {
                $('.pwd_error').css({'display':'none'})
            }

        });

    });


    // 记住账号
    //$('#jizhu').click(function(){
      //  $.get('/users/jizhu/',{"result":'True','name':$('.name_input').val()},function(data){
        //    alert(data.result)
        //})



   // })



    });
    </script>
{%endblock head%}

{%block content%}

<div class="login_top clearfix">
    <a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
</div>

<div class="login_form_bg">

    <div class="login_form_wrap clearfix">
        <div class="login_banner fl"></div>
        <div class="slogan fl">日夜兼程 · 急速送达</div>
        <div class="login_form fr">
            <div class="login_title clearfix">
                <h1>用户登录</h1>
                <a href="register/">立即注册</a>
            </div>
            <div class="form_input">

                <form method="post" action="user_post/">
                    {%csrf_token%}
                    <input type="text" name="username" class="name_input" placeholder="请输入用户名">
                    <div class="user_error">输入错误</div>
                    <input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
                    <div class="pwd_error">输入错误</div>
                    <div class="more_input clearfix">
                        <input type="checkbox" name="jizhu" value="True">
                        <label>记住用户名</label>
                        <a href="#">忘记密码</a>
                    </div>
                    <input type="submit" name="" value="登录" class="input_submit">
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock content%}